body {
    color: #40514e;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

h1 {
    font-size: 90px;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", serif;
    color: #66BFBF;

}

h2 {
    font-size: 40px;
    font-family: "Montserrat", serif;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: "Montserrat", serif;
    color: #11999E;
}

p {
    line-height: 2;
}

a {
    color: #11999E;
    font-family: "Montserrat", serif;
    margin: 10px 20px;
    text-decoration: none;
}

/* FIX THIS */
a:hover {
    color: white;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}



.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}



.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.profile-picture {

    border-radius: 100%;

}

.profile-picture:hover {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.penguin {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.dog {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copywright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
    background: #11cdc4;
    background-image: -webkit-linear-gradient(top, #11cdc4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdc4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdc4, #11999e);
    background-image: -o-linear-gradient(top, #11cdc4, #11999e);
    background-image: linear-gradient(to bottom, #11cdc4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2b4cad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2b4cad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2b4cad);
    background-image: -o-linear-gradient(top, #30e3cb, #2b4cad);
    background-image: linear-gradient(to bottom, #30e3cb, #2b4cad);
    text-decoration: none;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
    .projects-section {
        padding: 6rem 1rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }
}

.project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: white;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 1.25rem;
    padding: 2rem 0.5rem;
    margin-top: 1px;
    background-color: #e4f9f5;
}



.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.btn-show-all {
    font-size: 2rem;
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: white;
}

.btn-show-all:hover>i {
    transform: translateX(2px);
}

.btn-show-all>i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}
